
.main {
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  height:100%;
}
.header {
  height:50px;
  background-color:  dimgray;
}

.items {
  height:100%;
  background-color: lightgray;
  overflow:auto;
  position: relative;
}
.item {
  border-style: solid;
  margin:5px;
  padding:10px
}

.footer {
  background-color:  dimgray;
  height:100px;
}

button {
  width:50px;
  cursor: pointer;
}

.hoverImage {
  position: absolute;
  width:100px;
  height:100px;
  background-color:  blue;
  z-index:1000;
  left:0;
  top:0;
}